<nav>
    <div class = "nav-list nav-left">
        <a href = "/" id = "logo" class = "nav-items" style ="font-size: 1.9vw">
            <i class="ri-bluesky-line"></i> ChimkenDinner
        </a> 
        <a href = "/market" class = "nav-items text-link">
            Marketplace
        </a>

    </div>

    <div class = "nav-list nav-right">
        <p class = "nav-items">
		Hello, {{ g.user["Name"] }}
        </p>
        <a href = "/profile/{{g.user['UserID']}}" class = "nav-items">
            <i class="ri-account-circle-line" style = "font-size: 1.5em"></i>
        </a>
        <p class = "nav-items">
            <i class="ri-logout-box-r-line" style = "font-size: 1.5em"></i>
        </p>
    </div>
</nav>
