{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<section class = "Profile">
    <div class = "banner">
        <div class = "banner-cover">
            <!-- <img src="../static/img/cover.jpeg"> -->
            <span class="overlay">
                <div class = "banner-infor">
                    <div class="banner-infor avatar">
                        <img src="../static/img/avatar.jpg" width="64" height="64">
                    </div>
                    <div class = "banner-infor usersocial">
                        <div class = "banner-infor username">
                            <p id = "username"> Username 
                            <img width="19.8" height="20.65" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" id = "twitter"/>
                            </p>
                            <p id = "user_id"> XCOOPYSC90922_huask9224</p>
                        </div>
                        <div class = "banner-infor social">
                            <p><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/twitter--v1.png" alt="twitter--v1"/>
                            <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/share-3.png" alt="share-3"/></p>
                        </div>
                    </div>
                </div>
            </span>
        </div>
        
    </div>
</section>
{% endblock %}