{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<section class = "Profile">
    <div class = "banner">
        <div class = "banner-cover">
            <!-- <img src="../static/img/cover.jpeg"> -->
            <div class = "ay"></div>
            <span class="overlay">
                <div class = "banner-infor">
                    <div class="banner-infor avatar">
                        <img src="../static/img/avatar.jpg" width="64" height="64">
                    </div>
                    
                </div>
            </span>
            <div class = " usersocial">
                <div class = "banner-infor username">
                    <p id = "username"> Username 
                    <img width="19.8" height="20.65" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" id = "twitter"/>
                    </p>
                    <p id = "user_id"> XCOOPYSC90922_huask9224</p>
                </div>
                <div class = "banner-infor social">
                    <p><img width="30" height="30" src="https://img.icons8.com/ios/50/twitter--v1.png" alt="twitter--v1"/>
                    <img width="30" height="30" src="https://img.icons8.com/ios/50/share--v1.png" alt="share--v1"/></p>
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}