{% extends 'base.html' %}
{% block style %}
create.css
{% endblock %}

{% block content %}

<div class="create">
	<h1>Create New Item</h1>

	<p class="field-name"><b>Import Picture</b></p>
	<p class="field-desc">File types supported: JPG, PNG, SVG, GIF</p>
	<p>O</p>

	<p class="field-name"><b>Name</b></p>
	<p class="field-desc">02</p>
	<p>O</p>

	<p class="field-name"><b>Price</b></p>
	<p class="field-desc">03</p>
	<p>O</p>

	<p class="field-name">Description</p>
	<p class="field-desc">04</p>
	<p>O</p>

	<p class="field-name">Blockchain</p>
	<p class="field-desc">05</p>
	<p>O</p>

	<button>Create</button>

</div>

{% endblock %}
