/* Doan Mai Ngoc Anh - 104220776 */
/*Profile CSS */
.wallet {
    padding-top: var(--header-height);
}

.banner{
    display: flex;
    flex-direction: column;
    padding-top: var(--header-height);
}

.banner-cover {
    background: no-repeat center;
    background-image: linear-gradient(rgba(24, 24, 35,0.7),rgba(24, 24, 35,0.7)), url(../static/img/cover.jpeg);
    background-size: cover;
    height: 300px;
    padding-top: var(--header-height);
}

.banner-infor{
    flex-direction: column;
    align-items: left;
}

.avatar img{
    border-radius: 25px;
    flex-direction: column;
    margin-left: 50px;
}

#username {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 2vw;  
    flex: 0.5;
    padding: 3px;
    padding-left: 50px;
}

#twitter{

    padding: 3px;
}

#user_id{
    font-size: 1vw;
    font-family: 'Rubik', sans-serif;
    padding: 3px;
    padding-left: 50px;

}

.banner-cover {
    display: flex;
    flex-direction: column;
}

.overlay{
    flex:1;
}

.usersocial{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.social{
    margin-right: 50px;
    margin-top: 10px;
    align-items: center;
}

.ay{
    flex: 2;
}

/* creating tabs */

.tabs{
    padding: 14px 16px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;
}

.tabs-label{
    padding: 10px 16px;
    cursor: pointer;
}

.tabs-radio{
    display: none;
}

.tabs-content{
    order: 1;
    width: 100%;
    line-height: 1.5;
    display: none;
}

.tabs-radio:checked + .tabs-label{
    font-weight: bold;
    color:#1a1625;
    opacity: 1;
    background:linear-gradient(149deg, rgba(253,253,255,1) 0%, rgba(1,203,240,1) 75%, rgba(229,239,242,1) 100%);
    border-radius: 25px;
    width:fit-content;
}

.tabs-radio:checked + .tabs-label + .tabs-content{
    display: initial;
}

hr{
    width: 100%;
    margin-bottom: 10px;
    border: 0;
    height: 1px;
    background: #ccc;
}

/*Collected tab*/

#collected_num{
    font-family: 'Rubik', sans-serif;
    color: #b3b3b3;
    font-size: 1.25vw;
    padding: 10px 32px;
}

.collected_container{
    width: 93vw;
    padding: 0px 32px;
    display: grid;
    grid-template-rows: repeat(2, 281.28px);
    grid-template-columns: repeat(auto-fit, 169.28px);
    grid-gap: 1em;
}

.item{
    background: #282828;
    border-radius: 25px;
}

.item-1 img{
    border-radius: 25px 25px 0px 0px;
    width: 169.28px;
    height: 149.28px;
}

#item2_img{
    width: 102.36px;
    height: 142.55px;
    padding: 0px 33.46px;
    margin-bottom: 6.73px;
}

#item2_offer{
    color: #b3b3b3;
    font-size: 12px;
}

.item-3 img{
    width: 130px;
    height: 130px;
    padding: 0px 21.14px;
    margin-bottom: 19.28px;
}

.item-4 img{
    width: 169.28px;
    height: 126.96px;
    margin-top: 22.32px;
}

#item5_img{
    width: 119.42px;
    height: 149.28px;
    padding: 0px 24.93px;
}

#item5_offer{
    color: #b3b3b3;
    font-size: 12px;
}

.item-6 img{
    width: 133.4px;
    height: 149.28px;
    padding: 0px 17.94px;
}

#item6_offer{
    color: #b3b3b3;
    font-size: 12px;
}

.item-7 img{
    width: 130px;
    height: 130px;
    padding: 0px 21.14px;
    margin-bottom: 19.28px;
}

#item8_img{
    padding: 0px 21.14px;
    margin-bottom: 19.28px;
}

#item8_offer{
    color: #b3b3b3;
    font-size: 12px;
}

.item-9 img{
    width: 169.28px;
    height: 93.28px;
    padding: 28px 0px;
}

#item10_img{
    padding: 0px 21.14px;
    margin-bottom: 19.28px;
}

.item p{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.25vw;
    padding: 16px;
}

/* Offers Made tab */

.offerstab {
    height: 40vw;
}
.content_bar{
    display: grid;
    padding: 0px 16px;
    grid-template-columns: 260px repeat(4, 196.46px) 130px;
    grid-template-rows: 52px;
    align-items: center;
}

.content_bar p{
    font-family: 'Rubik', sans-serif;
    color: #b3b3b3;
    font-size: 1.25vw;
}

.offers_container{
    display: grid;
    padding: 0px 16px;
    grid-template-columns: 260px repeat(4, 196.46px) 130px;
    grid-template-rows: 52px;
}

.offer1{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.offer2{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.offer3{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.offer4{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.offer5{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.name img{
    border-radius: 10px;
    margin-right: 10px;
}

.price p{
    margin-top: 10px;
}

.quantity p{
    margin-top: 10px;
}

.total p{
    margin-top: 10px;
}

.expiration p{
    margin-top: 10px;
}

.created p{
    margin-top: 10px;
}

#offer_badge{
    padding: 0px 10px;
}

/* Deals tab */

.tabs-content.dealstab{
    padding: 2vw;
}

.deals {
    width: 100%;
    height: 30vw;
    background-color: var(--mix-2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
}

.deals-cover {
    height: 15%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
}

.deals-cover-left {
    display: flex;
}

.dcover-image {
    width: 65%;
    height: 65%;
    background-color: green;
    border-radius: 100px;
    margin: auto 1.4vw;
    overflow: hidden;
}

.dcover-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.dcover-name {
    font-weight: 500;
    font-size: 100%;
    margin: auto;
}

.deals-cover-right {
    margin: auto 1.7vw;
}

.dcover-status {
    font-size: 90%;
    margin: auto 0;
}

.deals-content {
    flex: 1;
    width: 100%;
    height: 50%;
    background-color: #4e5364;
    display: flex;
    
}

.deals-content-left {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
}

.deals-content-right {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;

}

.dcontent-items {
    width: 30%;
}
.dcontent-items-img {
    height: 70%;
    width: 100%;
    border-radius: 10px;  
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
}

.dcontent-items-img p {
    white-space: nowrap;
    border-radius: 10px;
    margin: auto 0;
    font-size: 120%;
    color: #0B1426;
    padding: 5%;
}

.dcontent-items-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.dcontent-items-info {
    margin-top: 2%;
}

.dcontent-items-info h1 {
    font-weight: 500;
    font-size: 100%;
}

.dcontent-items-info p {
    font-weight: 400;
    font-size: 90%;
}

.dcontent-icon {
    height: 70%;
    display: flex;
    justify-content: center
}

.deals-info {
    height: 15%;
    display: flex;

    flex-direction: row-reverse;
    box-sizing: border-box;
    align-items: center;
}

.deals-info div {
    display: flex;
    flex-wrap: nowrap;
    width: 15vw;
    margin: 2vw;
}

.deals-info div button {
    font-family: 'Rubik', sans-serif;
    padding: 0.7vw 1vw;
    margin: 0 1vw;
    background-color: #2E8DEE;
    color: var(--main-font-color);
    font-weight: 500;
    border-radius: 20px;
    border: none;
}

.deals-info div button:hover {
    background-color: #106ac5;
    transition: .3s ease;
}

/* Wallet tab*/
#wallet-main{
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid #404040 ;
    border-radius: 10px;
    background-color: #363945;
    padding: 2%;
    box-sizing: border-box;
}
#wallet-balance>*{
    display: flex;
    flex-flow: row nowrap;
}

#wallet-balance>*>*{
    font-size: 3vw;
    margin: 1% 0;

}
#withdraw>*,#deposit>*{
    font-size: 2vw;
}
#wallet-interact{
    margin-top: 1%;
}
#withdraw-amount, #deposit-amount{
    display: flex;
    flex-flow: row nowrap;
    justify-content: baseline;
    gap: 1%;
}

#withdraw-amount>input, #deposit-amount>input{
    background-color: black;
    padding: 0.5%;
    border-radius: 10px;
    border: none;
}
#wallet-interact>*>*{
    margin-bottom: 1%;
}
#wallet-interact>*{
    margin-bottom: 2%;
}
/* Deals tab */

.tabs-content.dealstab{
    padding: 2vw;
}

.deals {
    width: 100%;
    height: 30vw;
    background-color: var(--mix-2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
}

.deals-cover {
    height: 15%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
}

.deals-cover-left {
    display: flex;
}

.dcover-image {
    width: 65%;
    height: 65%;
    background-color: green;
    border-radius: 100px;
    margin: auto 1.4vw;
    overflow: hidden;
}

.dcover-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.dcover-name {
    font-weight: 500;
    font-size: 100%;
    margin: auto;
}

.deals-cover-right {
    margin: auto 1.7vw;
}

.dcover-status {
    font-size: 90%;
    margin: auto 0;
}

.deals-content {
    flex: 1;
    width: 100%;
    height: 50%;
    background-color: #4e5364;
    display: flex;
    
}

.deals-content-left {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
}

.deals-content-right {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;

}

.dcontent-items {
    width: 30%;
}
.dcontent-items-img {
    height: 70%;
    width: 100%;
    border-radius: 10px;  
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
}

.dcontent-items-img p {
    white-space: nowrap;
    border-radius: 10px;
    margin: auto 0;
    font-size: 120%;
    color: #0B1426;
    padding: 5%;
}

.dcontent-items-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.dcontent-items-info {
    margin-top: 2%;
}

.dcontent-items-info h1 {
    font-weight: 500;
    font-size: 100%;
}

.dcontent-items-info p {
    font-weight: 400;
    font-size: 90%;
}

.dcontent-icon {
    height: 70%;
    display: flex;
    justify-content: center
}

.deals-info {
    height: 15%;
    display: flex;

    flex-direction: row-reverse;
    box-sizing: border-box;
    align-items: center;
}

.deals-info div {
    display: flex;
    flex-wrap: nowrap;
    width: 15vw;
    margin: 2vw;
}

.deals-info div button {
    font-family: 'Rubik', sans-serif;
    padding: 0.7vw 1vw;
    margin: 0 1vw;
    background-color: #2E8DEE;
    color: var(--main-font-color);
    font-weight: 500;
    border-radius: 20px;
    border: none;
}

.deals-info div button:hover {
    background-color: #106ac5;
    transition: .3s ease;
}
