/* Le Nguyen Quoc An - 104187156 */
/* Header - CSS */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap');

:root {
    --dark-1: #1a1625;
    --dark-2: #282828;
    --header-height: 9vh;
    --main-font-color: #e9f8f9;
    --border-top: 10px 10px 0 0;
    --border-bottom: 0 0 10px 10px;
}

* {
    padding: 0;
    margin: 0;
}
/* change all font colors except buttons to the main font color*/

*:not(button){
    color: var(--main-font-color);
}

*:not(button) {
    color: var(--main-font-color);
}

html {
    background-color: var(--dark-1);
}

nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: var(--header-height);
    width: 100vw;
    background-color: var(--dark-2);
    position: fixed;
}

.nav-list {
    display: flex;
    justify-content: stretch;
    margin: auto 16px;
}

.nav-list a {
    text-decoration: none;
}

.nav-items {
    display: inline-block;
    list-style: none;
    font-size: 1.2em;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin: auto 16px;  
    color: var(--main-font-color);
}

.nav-items:first-child {
    padding-right: 16px;
    margin-right: 0;
    border-right: 1.5px solid var(--main-font-color);
}

.nav-left .nav-items:nth-child(2) {
    margin-left: 32px;
}

.nav-right .nav-items:nth-child(2) {
    margin-right: 0;
}

.text-link::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--main-font-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.text-link:hover::after {
    width: 100%;
}

/* end Header*/

/* Index - CSS */
.index {
    padding-top: var(--header-height);
}

/* Welcome Banner */
.index-banner {
    display: flex;
    height: 618px;
    background-color: var(--dark-1);
}

.banner-items>* {
    color: var(--main-font-color)
}

/* Welcome Message */
.banner-intro {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
}

.banner-intro >* {
    font-family: 'Rubik', sans-serif;
}

.banner-intro button {
    font-weight: 500;
    font-size: 1.5vw;
    width: 10vw;
    padding: 10px;
    color: var(--dark-1);
    margin-top: 3vw;
    border-radius: 30px;
    background: linear-gradient(149deg, rgba(253,253,255,1) 0%, rgba(1,203,240,1) 75%, rgba(229,239,242,1) 100%);
    border: none;
    
}

.banner-intro button:focus {
    border: none;
    outline: none;
}

#intro-text h1 {
    font-size: 4.5vw; 
    font-weight: 800;
    background: 
    -webkit-linear-gradient(149deg, rgba(253,253,255,1) 0%, rgba(1,203,240,1) 75%, rgba(229,239,242,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#text-p1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 2.15vw;  
}

#text-p1::after {
    content: '';
    width: 100%;
    height: 4px;
    background: linear-gradient(149deg, rgba(253,253,255,1) 0%, rgba(1,203,240,1) 75%, rgba(229,239,242,1) 100%);
    display: block;
    margin-top: 1vw;
    border-radius: 1px;
}

#text-p2 {
    margin-top: 3vw;
    font-size: 1.4vw;
}

/* Banner Image */
.banner-img {
    margin-right: 10px;
    flex: 1.5;
    display: flex;
    min-height: 618px;
}

.banner-img .img-items{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.img-items > div {
    margin: 10px 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 1px #01D9FF;
}

.img-items div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#img-item-1 {
    flex: 1;
    margin-top: 0;
    border-radius: var(--border-bottom);
}

#img-item-2 {
    flex: 2;
    margin-bottom: 0;
    border-radius: var(--border-top);
}

#img-item-3 {
    flex: 2;
    margin-top: 0;
    border-radius: var(--border-bottom);
}

#img-item-4 {
    flex: 1;
    margin-bottom: 0;
    border-radius: var(--border-top);
}

#img-item-5 {
    flex: 0.5;
    margin-top: 0;
    border-radius: var(--border-bottom);
}

#img-item-6 {
    flex: 2;
    margin-bottom: 0;
    border-radius: var(--border-top);
}

/* Doan Mai Ngoc Anh - 104220776 */
/*Profile CSS */
.wallet {
    padding-top: var(--header-height);
}

.banner{
    display: flex;
    flex-direction: column;
    padding-top: var(--header-height);
}

.banner-cover {
    background: no-repeat center;
    background-image: linear-gradient(rgba(24, 24, 35,0.7),rgba(24, 24, 35,0.7)), url(../static/img/cover.jpeg);
    background-size: cover;
    height: 300px;
    padding-top: var(--header-height);
}

.banner-infor{
    flex-direction: column;
    align-items: left;
}

.avatar img{
    border-radius: 25px;
    flex-direction: column;
    margin-left: 50px;
}

#username {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 2vw;  
    flex: 0.5;
    padding: 3px;
    padding-left: 50px;
}

#twitter{

    padding: 3px;
}

#user_id{
    font-size: 1vw;
    font-family: 'Rubik', sans-serif;
    padding: 3px;
    padding-left: 50px;

}

.banner-cover {
    display: flex;
    flex-direction: column;
}

.overlay{
    flex:1;
}

.usersocial{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.social{
    margin-right: 50px;
    margin-top: 10px;
    align-items: center;
}

.ay{
    flex: 2;
}

/* creating tabs */

.tabs{
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;
    font-family: 'Rubik', sans-serif;
}

.tabs-label{
    padding: 10px 16px;
    cursor: pointer;
}

.tabs-radio{
    display: none;
}

.tabs-content{
    order: 1;
    width: 100%;
    line-height: 1.5;
    font-size: 0.9vw;
    display: none;
}

.tabs-radio:checked + .tabs-label{
    font-weight: bold;
    color:#1a1625;
    opacity: 1;
    background:linear-gradient(149deg, rgba(253,253,255,1) 0%, rgba(1,203,240,1) 75%, rgba(229,239,242,1) 100%);
    border-radius: 25px;
    width:fit-content;
}

.tabs-radio:checked + .tabs-label + .tabs-content{
    display: initial;
}

hr{
    width: 98vw;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    height: 1px;
    background: #ccc;
}

/*Collected tab*/

#collected_num{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    padding: 0px 32px;
}

.collected_container{
    padding: 0px 32px;
    display: grid;
    grid-template-rows: repeat(2, 281.28px);
    grid-template-columns: repeat(auto-fit, 169.28px);
    grid-gap: 1em;
}

.item{
    background: #282828;
    border-radius: 25px;
}

.item-1 img{
    border-radius: 25px 25px 0px 0px;
    width: 169.28px;
    height: 149.28px;
}

#item2_img{
    width: 102.36px;
    height: 142.55px;
    padding: 0px 33.46px;
    margin-bottom: 6.73px;
}

#item2_offer{
    color: #b3b3b3;
    font-size: 12px;
}

.item-3 img{
    width: 130px;
    height: 130px;
    padding: 0px 21.14px;
    margin-bottom: 19.28px;
}

.item-4 img{
    width: 169.28px;
    height: 126.96px;
    margin-top: 22.32px;
}

#item5_img{
    width: 119.42px;
    height: 149.28px;
    padding: 0px 24.93px;
}

#item5_offer{
    color: #b3b3b3;
    font-size: 12px;
}

.item-6 img{
    width: 133.4px;
    height: 149.28px;
    padding: 0px 17.94px;
}

#item6_offer{
    color: #b3b3b3;
    font-size: 12px;
}

.item-7 img{
    width: 130px;
    height: 130px;
    padding: 0px 21.14px;
    margin-bottom: 19.28px;
}

#item8_img{
    padding: 0px 21.14px;
    margin-bottom: 19.28px;
}

#item8_offer{
    color: #b3b3b3;
    font-size: 12px;
}

.item-9 img{
    width: 169.28px;
    height: 93.28px;
    padding: 28px 0px;
}

#item10_img{
    padding: 0px 21.14px;
    margin-bottom: 19.28px;
}

.item p{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.25vw;
    padding: 16px;
}
/* Le Phan - 104212469 */
/* buy page */

.buy-main{
    padding-top: var(--header-height);
}

.item-large .item-large>*>* {
    border: 2px solid red;
}
