/* Le Nguyen Quoc An - 104187156 */
/* Header - CSS */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap');

:root {
    --dark-1: #1a1625;
    --dark-2: #282828;
    --mix-2: #363945;
    --header-height: 9vh;
    --main-font-color: #e9f8f9;
    --border-top: 10px 10px 0 0;
    --border-bottom: 0 0 10px 10px;
    --main-font: 'Rubik', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}
/* change all font colors except buttons to the main font color*/

*:not(button){
    color: var(--main-font-color);
}

*:not(button) {
    color: var(--main-font-color);
}

html {
    background-color: var(--dark-1);
}

nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: var(--header-height);
    width: 100vw;
    background-color: var(--dark-2);
    position: fixed;
    z-index: 10;
    box-shadow: 0 3px 15px 0 #121212;
}

.nav-list {
    display: flex;
    justify-content: stretch;
    margin: auto 16px;
}

.nav-list a {
    text-decoration: none;
}

.nav-items {
    display: inline-block;
    list-style: none;
    font-size: 1.2em;
    font-family: var(--main-font);
    font-weight: 500;
    margin: auto 16px;  
    color: var(--main-font-color);
}

.nav-items:first-child {
    padding-right: 16px;
    margin-right: 0;
    border-right: 1.5px solid var(--main-font-color);
}

.nav-left .nav-items:nth-child(2) {
    margin-left: 32px;
}

.nav-right .nav-items:nth-child(2) {
    margin-right: 0;
}

.text-link::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--main-font-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.text-link:hover::after {
    width: 100%;
}

/* end Header*/

/* Index - CSS */
.index {
    padding-top: var(--header-height);
}

/* Welcome Banner */
.index-banner {
    display: flex;
    height: 618px;
    background-color: #142546;
}

.banner-items>* {
    color: var(--main-font-color)
}

/* Welcome Message */
.banner-intro {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
}

.banner-intro >* {
    font-family: var(--main-font);
}

.banner-intro button {
    font-weight: 500;
    font-size: 1.5vw;
    width: 10vw;
    padding: 10px;
    color: var(--dark-1);
    margin-top: 3vw;
    border-radius: 30px;
    background: linear-gradient(149deg, rgba(253,253,255,1) 0%, rgba(1,203,240,1) 75%, rgba(229,239,242,1) 100%);
    border: none;   
}

.banner-intro button:focus {
    border: none;
    outline: none;
}

#intro-text h1 {
    font-size: 4.5vw; 
    font-weight: 800;
    background: 
    -webkit-linear-gradient(149deg, rgba(253,253,255,1) 0%, rgba(1,203,240,1) 75%, rgba(229,239,242,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#text-p1 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 2.15vw;  
}

#text-p1::after {
    content: '';
    width: 100%;
    height: 4px;
    background: linear-gradient(149deg, rgba(253,253,255,1) 0%, rgba(1,203,240,1) 75%, rgba(229,239,242,1) 100%);
    display: block;
    margin-top: 1vw;
    border-radius: 1px;
}

#text-p2 {
    margin-top: 3vw;
    font-size: 1.4vw;
}

/* Banner Image */
.banner-img {
    margin-right: 10px;
    flex: 1.5;
    display: flex;
    min-height: 618px;
}

.banner-img .img-items{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.img-items > div {
    margin: 10px 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 1px #01D9FF;
}

.img-items div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#img-item-1 {
    flex: 1;
    margin-top: 0;
    border-radius: var(--border-bottom);
}

#img-item-2 {
    flex: 2;
    margin-bottom: 0;
    border-radius: var(--border-top);
}

#img-item-3 {
    flex: 2;
    margin-top: 0;
    border-radius: var(--border-bottom);
}

#img-item-4 {
    flex: 1;
    margin-bottom: 0;
    border-radius: var(--border-top);
}

#img-item-5 {
    flex: 0.5;
    margin-top: 0;
    border-radius: var(--border-bottom);
}

#img-item-6 {
    flex: 2;
    margin-bottom: 0;
    border-radius: var(--border-top);
}

.index-featured-NFTs {
    height: 50vw;
    background-color: #0B1426;
    position: relative;
    box-shadow: 1px 0 15px 0 #121212;
    text-align: center;
}

.index-featured-NFTs h1 {
    display: inline-block;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 3.5vw;
    margin-top: 100px;
}

.index-featured-NFTs h1::after {
    content: '';
    width: 50%;
    height: 4px;
    background: linear-gradient(149deg, rgba(253,253,255,1) 0%, rgba(1,203,240,1) 75%, rgba(229,239,242,1) 100%);
    display: block;
    margin-top: 0.5vw;
    margin-left: 50%;
    border-radius: 1px;
}

.featured-NFTs {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
}

.featured-items {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 27vw;
    background-color: var(--mix-2);
    border-radius: 20px;
}

.featured-img {
    flex: 2;
    border-radius: 20px;
    margin: 7%;
    overflow: hidden;
    box-shadow: 0 0 15px 1px #ffffff;
}

.featured-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
} 

.featured-info {
    flex: 1.5;
    text-align: left;
}

.featured-info > *{
    font-family: var(--main-font);
    font-weight: 500;
    align-items: left;
    box-sizing: border-box;
    padding: 0 7%;
}

.featured-info h2 {
    font-size: 1.3vw;
}

.featured-info a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.05vw;
}

.featured-price {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.featured-button {
    display: flex;
    justify-content: center;
    height: 25%;
    margin-top: 7%;
}

.featured-button button {
    flex: 1;
    border-radius: 10px;
    border: none;
    background-color: #2E8DEE;
    color: 	white;
    font-family: var(--main-font);
    font-size: 110%;
    font-weight: 500;
}

.featured-button button:focus {
    border: none;
    outline: none;
}














/*Profile CSS */
.wallet {
    padding-top: var(--header-height);
}

.banner-cover {
    background: no-repeat center;
    background-image: linear-gradient(rgba(24, 24, 35,0.7),rgba(24, 24, 35,0.7)), url(../static/img/cover.jpeg);
    background-size: cover;
    height: 500px;
    display: flex;
}

.usersocial{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.avatar img{
    border-radius: 8px;
    position: relative;
    left: 10%;
    margin-top: 130%;
    display: flex;
}

#username {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 2.15vw;  
    text-align: left;
    margin-left: 10%;
    margin-top: 3%;
}

#twitter{
    margin-left: 3%;
    margin-bottom: -2%;
}

#user_id{
    font-size: 1.4vw;
    font-family: 'Rubik', sans-serif;
    margin-left: 10%;
    margin-top: 3%; 
}


/* Le Phan - 104212469 */
/* buy page */

.buy-main{
    padding-top: var(--header-height);
}

.item-large .item-large>*>* {
    border: 2px solid red;
}


