{% extends 'auth.html' %}
{% block title %}
Register
{% endblock %}
{% block style %}
auth.css
{% endblock %}

{% block content %}
<div id="content">
	<h1>Register</h1>
	<form method="post">
		<label for="username">Username:</label><br>
		<input name="username"id="username" type="text" required><br>
		<label for="password">Password:</label><br>
		<input name="password" type="password" id="password" required><br>
		<input type="submit" value="Register" id="submit">
		<a href="./login">Already have an account?</a>
	</form>
</div>
{% endblock %}
