{% extends 'base.html' %}
{% block includes %}
    {{ super() }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% endblock %}
    {% block title %}
    Buying: {{item.name}}
    {% endblock %}

    {% block content %}
    <div id="buy-main">
        <div id="buy-top">
            <!-- left -->

            <div id="summary">
                <div id="summary-image">
                    <img src="../static/nft.png" alt="">
                </div>
                <div id="description"></div>
            </div>

            <!-- right -->
            <div class="details">
                <h1>{{item.name}}</h1>
                <div id="price">
                    <p>Current Price</p>
                    <div id="price-amount">
                        {{item.price}} <br/>
                        {{item.currency}}
                    </div>

                    <div id="author">
                        <span>Listed By:</span> {{item.author}}
                    </div>

                    <button> Buy Now </button>
                </div>
            </div>

        </div>

        <!-- bottom -->
        <div id="buy-bottom">
            <div id="price-history"></div>
            <div id="listings"></div>
            <div id="offers"></div>
        </div>
    </div>
    {% endblock %}
