{% extends 'base.html' %}
{% block title %}
    Buying: {{item.name}}
    {% endblock %}

    {% block content %}
    <div id="buy-main">
        <div id="buy-top">
            <!-- left -->

            <div id="summary">
                <div id="summary-image">
                    <img src="../static/pippog.png" alt="">
                </div>
                <div id="description"></div>
            </div>

            <!-- right -->
            <div id="details">
                <div id="name">
                    <p> Creator: @{{item.author}} </p>
                    <p>{{item.name}} #{{item.id}}</p>
                </div>
                <div id="price">
                    <p>Current Price</p>
                    <div id="price-amount">
                        {{item.price}} 
                        {{item.currency}}
                    </div>

                    <div id="author">
                        <span>Listed By:</span> {{item.author}}
                    </div>

                    <div id="buy-buttons">

                        <button> Buy Now </button>
                        <button> Trade </button>

                    </div>
                </div>
            </div>

        </div>

        <!-- bottom -->
        <div id="buy-bottom">
            <div id="item-properties">

                <div id="item-description">
                    <h2>Description</h2>
                    <hr>
                    <div>
                        <p>By {{item.author}}</p>
                        <p>{{item.description | default("I'm pippa!") }}</p>
                        <p>{{item.name}} #{{item.id}}</p>
                    </div>
                </div>

                <div id="item-details">
                    <h2>Details</h2>
                    <hr>
                    <div class="details">
                        <p> Contract Address: </p>
                        <span>{{item.contact_address | default("pusSla123...") }}</span>
                    </div>
                    <div class="details">
                        <p> Token ID: </p>
                        <span>{{item.token_id | default("69") }}</span>
                    </div>
                    <div class="details">
                        <p> Token Standard: </p>
                        <span>{{item.token_standard | default("CRC-32") }}</span>
                    </div>
                    <div class="details">
                        <p> Chain: </p>
                        <span>{{item.chain | default("Ethereum") }}</span>
                    </div>
                    <div class="details">
                        <p> Last Updated: </p>
                        <span>{{item.last_update | default("5 days ago") }}</span>
                    </div>
                    <div class="details">
                        <p> Creator Earnings: </p>
                        <span>{{item.earnings | default("5%") }}</span>
                    </div>
                </div>

            </div>
            <manager hx-post="./get-listing-data" hx-trigger="load" hx-swap="outerHTML" hx-target="#listing-data"></manager>
            <div id="listings">
                <h2>Listings</h2>
                <hr>
                <table>
                    <thead>
                        <tr>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Expiration</th>
                            <th>From</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="listing-data"></tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
    {% endblock %}
