{% extends 'base.html' %}
{% block style %}
index.css
{% endblock %}
{% block title %}ChimkenDinner{% endblock %}
{% block content %}
<section class = "index">
    <div class = "index-banner">
        <div class ="banner-items banner-intro">
            <div id = "intro-text">
                <h1>ChimkenDinner</h1>
                <p id = "text-p1">Immerse in a world of creativity with no boundaries 
                    at this peer-to-peer NFTs trading community. </p>
                <p id = "text-p2">
                    Step into a realm where art, culture, and technology converge to redefine 
                    the way we perceive and trade unique digital assets. Our platform is more 
                    than just a marketplace; it's a gateway to a new era of decentralized 
                    creativity and ownership.
                </p>
            </div>
            <button type = "button">
                Explore >
            </button>
        </div>
        <div class = "banner-items banner-img">
            <div class = "img-items">
                <div id = "img-item-1">
                    <img src = "./static/img/nft/img3.jpg"/>
                </div>
                <div id = "img-item-2">
                    <img src = "./static/img/nft/img2.jpg"/>
                </div>
            </div>
            <div class = "img-items">
                <div id = "img-item-3">
                    <img src = "./static/img/nft/img7.jpg"/>
                </div>
                <div id = "img-item-4">
                    <img src = "./static/img/nft/img4.jpg"/>
                </div>
            </div>
            <div class = "img-items">
                <div id = "img-item-5">
                    <img src = "./static/img/nft/img5.jpg"/>
                </div>
                <div id = "img-item-6">
                    <img src = "./static/img/nft/img1.jpg"/>
                </div>
            </div>
        </div>
    </div>
    <div class = "index-featured-NFTs">
        <h1>Featured NFTs</h1>
        <div class = "featured-NFTs">
            <div class = "featured-items">
                <div class = "featured-img">
                    <img src = "./static/img/nft/img8.jpg"/>
                </div>
                <div class = "featured-info">
                    <h2>Papillon Blanc</h2>
                    <a href = "">
                        @Puppeter
                    </a>
                    <div class = "featured-price">
                        <p style = "font-size: 1.2vw;">Price:</p>
                        <p style = "font-size: 1.1vw">7.8ETH</p>
                    </div>
                    <div class = "featured-button">
                        <button style = "margin-right: 1.5%;">
                            Buy
                        </button>
                        <button style = "margin-left: 1.5%;">
                            Trade
                        </button>
                    </div>           
                </div>
            </div>
            <div class = "featured-items" >
                <div class = "featured-img">
                    <img src = "./static/img/nft/img9.jpg"/>
                </div>
                <div class = "featured-info">
                    <h2>Meow Meow</h2>
                    <a href = "">
                        @NyanNyan
                    </a>
                    <div class = "featured-price">
                        <p style = "font-size: 1.2vw;">Price:</p>
                        <p style = "font-size: 1.1vw">2.8ETH</p>
                    </div>
                    <div class = "featured-button">
                        <button style = "margin-right: 1.5%;">
                            Buy
                        </button>
                        <button style = "margin-left: 1.5%;">
                            Trade
                        </button>
                    </div> 
                </div>
            </div>
            <div class = "featured-items">
                <div class = "featured-img">
                    <img src = "./static/img/nft/img10.jpg"/>
                </div>
                <div class = "featured-info">
                    <h2>Cozy Kitchen</h2>
                    <a href = "">
                        @Roomz
                    </a>
                    <div class = "featured-price">
                        <p style = "font-size: 1.2vw;">Price:</p>
                        <p style = "font-size: 1.1vw">5.7ETH</p>
                    </div>
                    <div class = "featured-button">
                        <button style = "margin-right: 1.5%;">
                            Buy
                        </button>
                        <button style = "margin-left: 1.5%;">
                            Trade
                        </button>
                    </div> 
                </div>
            </div>
            <div class = "featured-items">
                <div class = "featured-img">
                    <img src = "./static/img/nft/img11.jpg"/>
                </div>
                <div class = "featured-info">
                    <h2>Y2K Aesphone</h2>
                    <a href = "">
                        @AesFutur
                    </a>
                    <div class = "featured-price">
                        <p style = "font-size: 1.2vw;">Price:</p>
                        <p style = "font-size: 1.1vw">4.3ETH</p>
                    </div>
                    <div class = "featured-button">
                        <button style = "margin-right: 1.5%;">
                            Buy
                        </button>
                        <button style = "margin-left: 1.5%;">
                            Trade
                        </button>
                    </div> 
                </div>
            </div>
            <div class = "featured-items">
                <div class = "featured-img">
                    <img src = "./static/img/nft/img12.jpg"/>
                </div>
                <div class = "featured-info">
                    <h2>Spring Station</h2>
                    <a href = "">
                        @Dreamland
                    </a>
                    <div class = "featured-price">
                        <p style = "font-size: 1.2vw;">Price:</p>
                        <p style = "font-size: 1.1vw">1.3ETH</p>
                    </div>
                    <div class = "featured-button">
                        <button style = "margin-right: 1.5%;">
                            Buy
                        </button>
                        <button style = "margin-left: 1.5%;">
                            Trade
                        </button>
                    </div> 
                </div>
            </div>
        </div>
        <h1 id = "featured-title-2" style = "margin-top: 10vw;">Featured Creators</h1>
        <div class = "featured-NFTs">
            <div class = "featured-items creator">
                <div class = "featured-img creator">
                    <img src = "./static/img/nft/img13.jpg"/>
                </div>
                <div class = "featured-info creator">
                    <h2>
                        <img src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                        Puppeter
                    </h2>
                    <p>Created: 59 NFTs</p>
                </div>
            </div>
            <div class = "featured-items creator">
                <div class = "featured-img creator">
                    <img src = "./static/img/nft/img14.jpg"/>
                </div>
                <div class = "featured-info creator">
                    <h2>
                        <img src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                        NyanNyan
                    </h2>
                    <p>Created: 20 NFTs</p>
                </div>
            </div>
            <div class = "featured-items creator">
                <div class = "featured-img creator">
                    <img src = "./static/img/nft/img15.jpg"/>
                </div>
                <div class = "featured-info creator">
                    <h2>
                        <img src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                        Roomz
                    </h2>
                    <p>Created: 40 NFTs</p>
                </div>
            </div>
            <div class = "featured-items creator">
                <div class = "featured-img creator">
                    <img src = "./static/img/nft/img16.jpg"/>
                </div>
                <div class = "featured-info creator">
                    <h2>
                        <img src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                        AesFutur
                    </h2>
                    <p>Created: 37 NFTs</p>
                </div>
            </div>
            <div class = "featured-items creator">
                <div class = "featured-img creator">
                    <img src = "./static/img/nft/img17.jpg"/>
                </div>
                <div class = "featured-info creator">
                    <h2>
                        <img src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                        Dreamland
                    </h2>
                    <p>Created: 44 NFTs</p>
                </div>
            </div>
            
        </div> 
        
        <h1 id = "featured-title-3" style = "margin-top: 10vw;">New here ?</h1>
        <div class = "index-select">
            <div class = "select-item itemxx-1">
                <img class = "xxx" src = "./static/img/nft/img18.jpg"/>
                <p href = "" style = "left: 22%">Create your NFTs</p>
            </div>
            <div class = "select-item item-2">
                <img class = "xxx" src = "./static/img/nft/img19.jpg"/>
                <p href = "" style = "left: 17%">Start your Collection</p>
            </div>
        </div>
        
    </div>

</section>
{% endblock %}
