{% extends 'base.html' %}
{% block title %}ChimkenDinner{% endblock %}
{% block content %}
<section class = "index">
    <div class = "index-banner">
        <div class ="banner-items banner-intro">
            <div id = "intro-text">
                <h1>ChimkenDinner</h1>
                <p id = "text-p1">Immerse in a world of creativity with no boundaries 
                    at this peer-to-peer NFTs trading community. </p>
                <p id = "text-p2">
                    Step into a realm where art, culture, and technology converge to redefine 
                    the way we perceive and trade unique digital assets. Our platform is more 
                    than just a marketplace; it's a gateway to a new era of decentralized 
                    creativity and ownership.
                </p>
            </div>
            <button type = "button">
                Explore >
            </button>
        </div>
        <div class = "banner-items banner-img">
            <div class = "img-items">
                <div id = "img-item-1">
                    <img src = "./static/img/img3.jpg"/>
                </div>
                <div id = "img-item-2">
                    <img src = "./static/img/img2.jpg"/>
                </div>
            </div>
            <div class = "img-items">
                <div id = "img-item-3">
                    <img src = "./static/img/img7.jpg"/>
                </div>
                <div id = "img-item-4">
                    <img src = "./static/img/img4.jpg"/>
                </div>
            </div>
            <div class = "img-items">
                <div id = "img-item-5">
                    <img src = "./static/img/img5.jpg"/>
                </div>
                <div id = "img-item-6">
                    <img src = "./static/img/img1.jpg"/>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}