{% extends 'base.html' %}
{% block title %}ChimkenDinner{% endblock %}
{% block content %}
<section class = "index">
    <div class = "index-banner">
        <div class ="banner-items banner-intro">
            <div id = "intro-text">
                <h1>ChimkenDinner</h1>
                <p id = "text-p1">Immerse in a world of creativity with no boundaries 
                    at this peer-to-peer NFTs trading community. </p>
                <p id = "text-p2">
                    Step into a realm where art, culture, and technology converge to redefine 
                    the way we perceive and trade unique digital assets. Our platform is more 
                    than just a marketplace; it's a gateway to a new era of decentralized 
                    creativity and ownership.
                </p>
            </div>
            <button type = "button">
                Explore >
            </button>
        </div>
        <div class = "banner-items banner-img">
            <div class = "img-items">
                <div id = "img-item-1">
                    <img src = "./static/img/img3.jpg"/>
                </div>
                <div id = "img-item-2">
                    <img src = "./static/img/img2.jpg"/>
                </div>
            </div>
            <div class = "img-items">
                <div id = "img-item-3">
                    <img src = "./static/img/img7.jpg"/>
                </div>
                <div id = "img-item-4">
                    <img src = "./static/img/img4.jpg"/>
                </div>
            </div>
            <div class = "img-items">
                <div id = "img-item-5">
                    <img src = "./static/img/img5.jpg"/>
                </div>
                <div id = "img-item-6">
                    <img src = "./static/img/img1.jpg"/>
                </div>
            </div>
        </div>
    </div>
    <div class = "index-featured-NFTs">
        <h1>Featured NFTs</h1>
        <div class = "featured-NFTs">
            <div class = "featured-items">
                <div class = "featured-img">
                    <img src = "./static/img/img8.jpg"/>
                </div>
                <div class = "featured-info">
                    <h2>Papillon Blanc</h2>
                    <a href = "">
                        @Puppeter
                    </a>
                    <div class = "featured-price">
                        <p style = "font-size: 1.2vw;">Price:</p>
                        <p style = "font-size: 1.1vw">7.8ETH</p>
                    </div>
                    <div class = "featured-button">
                        <button style = "margin-right: 1.5%;">
                            Buy
                        </button>
                        <button style = "margin-left: 1.5%;">
                            Trade
                        </button>
                    </div>           
                </div>
            </div>
            <div class = "featured-items" >
                <div class = "featured-img">
                    <img src = "./static/img/img9.jpg"/>
                </div>
                <div class = "featured-info">
                    <h2>Meow Meow</h2>
                    <a href = "">
                        @Nyannyan
                    </a>
                    <div class = "featured-price">
                        <p style = "font-size: 1.2vw;">Price:</p>
                        <p style = "font-size: 1.1vw">2.8ETH</p>
                    </div>
                    <div class = "featured-button">
                        <button style = "margin-right: 1.5%;">
                            Buy
                        </button>
                        <button style = "margin-left: 1.5%;">
                            Trade
                        </button>
                    </div> 
                </div>
            </div>
            <div class = "featured-items">
                <div class = "featured-img">
                    <img src = "./static/img/img10.jpg"/>
                </div>
                <div class = "featured-info">
                    <h2>Cozy Kitchen</h2>
                    <a href = "">
                        @Roomz
                    </a>
                    <div class = "featured-price">
                        <p style = "font-size: 1.2vw;">Price:</p>
                        <p style = "font-size: 1.1vw">5.7ETH</p>
                    </div>
                    <div class = "featured-button">
                        <button style = "margin-right: 1.5%;">
                            Buy
                        </button>
                        <button style = "margin-left: 1.5%;">
                            Trade
                        </button>
                    </div> 
                </div>
            </div>
            <div class = "featured-items">
                <div class = "featured-img">
                    <img src = "./static/img/img11.jpg"/>
                </div>
                <div class = "featured-info">
                    <h2>Y2K Aesphone</h2>
                    <a href = "">
                        @AesFutur
                    </a>
                    <div class = "featured-price">
                        <p style = "font-size: 1.2vw;">Price:</p>
                        <p style = "font-size: 1.1vw">4.3ETH</p>
                    </div>
                    <div class = "featured-button">
                        <button style = "margin-right: 1.5%;">
                            Buy
                        </button>
                        <button style = "margin-left: 1.5%;">
                            Trade
                        </button>
                    </div> 
                </div>
            </div>
            <div class = "featured-items">
                <div class = "featured-img">
                    <img src = "./static/img/img12.jpg"/>
                </div>
                <div class = "featured-info">
                    <h2>Haru Station</h2>
                    <a href = "">
                        @Dreamland
                    </a>
                    <div class = "featured-price">
                        <p style = "font-size: 1.2vw;">Price:</p>
                        <p style = "font-size: 1.1vw">1.3ETH</p>
                    </div>
                    <div class = "featured-button">
                        <button style = "margin-right: 1.5%;">
                            Buy
                        </button>
                        <button style = "margin-left: 1.5%;">
                            Trade
                        </button>
                    </div> 
                </div>
            </div>
        </div>
        <h1 id = "featured-title-2" style = "margin-top: 10vw;">Featured Creators</h1>
        <div class = "featured-NFTs">
            <div class = "featured-items creator">
                <div class = "featured-img creator">
                    <img src = "./static/img/img13.jpg"/>
                </div>
                <div class = "featured-info creator">
                    <h2>
                        <img src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                        Puppeter
                    </h2>
                    <p>Created: 59 NFTs</p>
                </div>
            </div>
            <div class = "featured-items creator">
                <div class = "featured-img creator">
                    <img src = "./static/img/img14.jpg"/>
                </div>
                <div class = "featured-info creator">
                    <h2>
                        <img src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                        Nyannyan
                    </h2>
                    <p>Created: 20 NFTs</p>
                </div>
            </div>
            <div class = "featured-items creator">
                <div class = "featured-img creator">
                    <img src = "./static/img/img15.jpg"/>
                </div>
                <div class = "featured-info creator">
                    <h2>
                        <img src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                        Roomz
                    </h2>
                    <p>Created: 40 NFTs</p>
                </div>
            </div>
            <div class = "featured-items creator">
                <div class = "featured-img creator">
                    <img src = "./static/img/img16.jpg"/>
                </div>
                <div class = "featured-info creator">
                    <h2>
                        <img src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                        AesFutur
                    </h2>
                    <p>Created: 37 NFTs</p>
                </div>
            </div>
            <div class = "featured-items creator">
                <div class = "featured-img creator">
                    <img src = "./static/img/img17.jpg"/>
                </div>
                <div class = "featured-info creator">
                    <h2>
                        <img src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                        Dreamland
                    </h2>
                    <p>Created: 44 NFTs</p>
                </div>
            </div>
            
        </div> 
        
        <h1 id = "featured-title-3" style = "margin-top: 10vw;">New here ?</h1>
        <div class = "index-select">
            <div class = "select-item item-1">
                <img class = "xxx" src = "./static/img/img18.jpg"/>
                <p href = "" style = "left: 22%">Create your NFTs</p>
            </div>
            <div class = "select-item item-2">
                <img class = "xxx" src = "./static/img/img19.jpg"/>
                <p href = "" style = "left: 17%">Start your Collection</p>
            </div>
        </div>
        
    </div>

    <footer>
        <div class = "footer-list footer-left">
            <div class = "footer-left left-1">
                <a href = "" class = "footer-items" style = "font-size: 1.7vw">
                    <i class="ri-bluesky-line"></i> ChimkenDinner
                </a>
                <a href= "" class = "footer-icon">
                    <i class="ri-facebook-circle-line"></i>
                </a>
                <a href= "" class = "footer-icon">
                    <i class="ri-twitter-line"></i>
                </a>
                <a href= "" class = "footer-icon">
                    <i class="ri-discord-line"></i>
                </a>
                <a href= "" class = "footer-icon">
                    <i class="ri-telegram-line"></i>
                </a>
                
            </div>
            <div class = "footer-left left-2">               
                <p>Copyright <i class="ri-copyright-line"></i> 2024 ChimkenDinner.com. All rights reserved.</p>
            </div>
        </div>
        <div class = "footer-list footer-right">
            <a href = "">
                About Us
            </a>
            <a href = "">
                Help Center
            </a>
            <a href = "">
                Policy
            </a>
        </div>
    </footer>

    <!-- <div class = "nav-list nav-left">
        <a href = "" id = "logo" class = "nav-items" style ="font-size: 1.8em">
            <i class="ri-bluesky-line"></i> ChimkenDinner
        </a> 
        <a href = "" class = "nav-items text-link">
            Marketplace
        </a>
        <a href = "" class = "nav-items text-link">
            Create
        </a>
    </div>

    <div class = "nav-list nav-right">
        <p class = "nav-items">
            Hello, Username
        </p>
        <a href = "" class = "nav-items">
            <i class="ri-account-circle-line" style = "font-size: 1.5em"></i>
        </a>
        <p class = "nav-items">
            <i class="ri-shopping-cart-line" style = "font-size: 1.5em"></i>
        </p>
    </div> -->
</section>
{% endblock %}