/* Le Nguyen Quoc An - 104187156 */
/* Header - CSS */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap');

:root {
    --dark-1: #0B1426;
    --dark-2: #282828;
    --mix-2: #363945;
    --header-height: 4.5vw;
    --main-font-color: #e9f8f9;
    --border-top: 10px 10px 0 0;
    --border-bottom: 0 0 10px 10px;
    --main-font: 'Rubik', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

/* change all font colors except buttons to the main font color*/

*:not(button) {
    color: var(--main-font-color);
}

*{
    font-family: 'Rubik', sans-serif;
}

html {
    height: 100%;
    background-color: var(--dark-1);
}

body {
    min-height: 100%;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: var(--header-height);
    width: 100vw;
    background-color: var(--dark-2);
    position: fixed;
    z-index: 10;
    box-shadow: 0 3px 15px 0 #121212;
}

.nav-list {
    display: flex;
    justify-content: stretch;
    margin: auto 0.9vw;
}

.nav-list a {
    text-decoration: none;
}

.nav-items {
    display: inline-block;
    list-style: none;
    font-size: 1.2vw;
    font-family: var(--main-font);
    font-weight: 500;
    margin: auto 1vw;;  
    color: var(--main-font-color);
}

.nav-items:first-child {
    padding-right: 16px;
    margin-right: 0;
    border-right: 1.5px solid var(--main-font-color);
}

.nav-left .nav-items:nth-child(2) {
    margin-left: 1.7vw;
}

.nav-right .nav-items:nth-child(2) {
    margin-right: 0;
}

.text-link::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--main-font-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.text-link:hover::after {
    width: 100%;
}

/* end Header*/
/* Doan Mai Ngoc Anh - 104220776 */
/* Featured NFTs */

.index-featured-NFTs {
    height: 122vw;
    background-color: #0B1426;
    position: relative;
    box-shadow: 1px 0 15px 0 #121212;
    text-align: center;
    padding-bottom: 6vw;
}

.index-featured-NFTs h1 {
    display: inline-block;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 3.5vw;
    margin-top: 6vw;
}

.index-featured-NFTs h1::after {
    content: '';
    width: 50%;
    height: 4px;
    background: linear-gradient(149deg, rgba(253,253,255,1) 0%, rgba(1,203,240,1) 75%, rgba(229,239,242,1) 100%);
    display: block;
    margin-top: 0.5vw;
    margin-left: 50%;
    border-radius: 1px;
}

.featured-NFTs {
    margin-top: 4vw;
    display: flex;
    justify-content: space-evenly;
}

.featured-items {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 27vw;
    background-color: var(--mix-2);
    border-radius: 20px;
    font-size: 1.3vw;
}

.featured-img {
    flex: 2;
    border-radius: 20px;
    margin: 7%;
    overflow: hidden;
    box-shadow: 0 0 15px 1px #ffffff;
}

.featured-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
} 

.featured-info {
    flex: 1.5;
    text-align: left;
}

.featured-info > *{
    font-family: var(--main-font);
    font-weight: 500;
    align-items: left;
    box-sizing: border-box;
    padding: 0 7%;
}

.featured-info h2 {
    font-size: 100%;
}

.featured-info a {
    text-decoration: none;
    font-weight: 400;
    font-size: 80.7%;
}

.featured-price {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.featured-button {
    display: flex;
    justify-content: center;
    height: 25%;
    margin-top: 7%;
}

.featured-button button {
    flex: 1;
    border-radius: 10px;
    border: none;
    background-color: #2E8DEE;
    color: 	white;
    font-family: var(--main-font);
    font-size: 100%;
    font-weight: 500;
    cursor: pointer;
    
}

.featured-button button:hover {
    background-color: #106ac5; 
    transition: .3s ease all;
}

.featured-button button:focus {
    border: none;
    outline: none;
}

/* Featured Creators */

.index-featured-NFTs #featured-title-2::after {
    margin-left: 0;;
    width: 30%;
}

.featured-items.creator {
    height: 20vw;
    box-shadow: 0 0 15px 1px #ffffff;
    cursor: pointer;
}

.featured-img.creator {
    flex: 2.5;
    margin: 0;
    box-shadow: none;
    border-radius: 20px 20px 0 0;
}

.featured-info.creator {
    flex: 0.85;
    margin-top: 5%;    
}

.featured-info.creator h2 {
    display: flex;
    justify-content: stretch;
    align-items: center;
    font-size: 1.4vw;
}

.featured-info.creator h2 img {
    height: 2vw;
    width: 2vw;
    margin-right: 0.5vw;
}

.featured-info.creator p {
    font-weight: 400; 
    margin-top: 0.5vw; 
    font-size: 1.1vw;
}

/* New Here */

.index-featured-NFTs #featured-title-3::after {
    margin: 0;
    width: 100%;
}

.index-select {
    height: 15vw;
    margin: 4vw 5vw;
    display: flex;
}

.index-select .select-item {
    flex: 1;
    overflow: hidden;
    position: relative;
} 

.select-item.itemxx-1 {
    margin-right: 0.5vw;
    border-radius: 80px 0 0 80px;
    cursor: pointer;
}

.select-item.item-2 {
    background-color: green;
    margin-left: 0.5vw;
    border-radius: 0 80px 80px 0;
    cursor: pointer;
}

.select-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(70%)
}

.select-item img:hover {
    filter: brightness(100%);
    transition: .3s ease;
}

.select-item p {
    pointer-events: none;
    text-decoration: none;
    position: absolute;
    top: 38%;
    color: var(--main-font-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 3vw;
}

/* End Index */

/* Footer */

footer {
    padding: 1.5vw 1.2vw;
    height: 3vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--dark-2);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer > * {
    font-family: var(--main-font);
    font-weight: 500;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-left.left-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.footer-icon {
    font-size: 1.8vw;
    margin-left: 1vw;
    margin-top: -0.1vw;
}

.footer-left.left-2 p {
    margin-top: 0.5vw;
    font-weight: 400;
    font-size: 0.8vw;
}

.footer-left a { 
    text-decoration: none;
}

.footer-right a {
    text-decoration: none;
}

.footer-right {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.footer-right a {
    font-weight: 400;
    font-size: 1.2vw;
    margin: 0 1vw;
}

/* End Footer */


