/* Doan Mai Ngoc Anh - 104220776 */
/*Profile CSS */
.wallet {
    padding-top: var(--header-height);
}

.banner{
    display: flex;
    flex-direction: column;
    padding-top: var(--header-height);
}

.banner-cover {
    position: relative;
    background: no-repeat center;
    background-size: cover;
    height: 25vw;
}

.banner-cover-in{
    position: absolute;
    bottom: 1vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner-infor{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.avatar{
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    margin: auto 1.4vw;
    overflow: hidden;
}

.avatar img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.username{
    width: max-content;
    height: max-content;
    margin: auto 1.4vw;
}

#username {
    font-weight: 500;
    font-size: 200%;  
}

.username a{
    text-decoration: none;
}

#twitter{

    padding: 3px;
}

#user_id{
    font-size: 1vw;
    font-family: 'Rubik', sans-serif;
}

.usersocial{
    height: max-content;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.social{
    margin: auto 1.4vw;
    align-items: center;
}


/* creating tabs */

.tabs{
    padding: 14px 16px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;
}

.tabs-label{
    padding: 10px 16px;
    cursor: pointer;
}

.tabs-radio{
    display: none;
}

.tabs-content{
    margin-bottom: 6vw;
    order: 1;
    width: 100%;
    line-height: 1.5;
    display: none;
}

.tabs-radio:checked + .tabs-label{
    font-weight: bold;
    color:#1a1625;
    opacity: 1;
    background:linear-gradient(149deg, rgba(253,253,255,1) 0%, rgba(1,203,240,1) 75%, rgba(229,239,242,1) 100%);
    border-radius: 25px;
    width:fit-content;
}

.tabs-radio:checked + .tabs-label + .tabs-content{
    display: initial;
}

hr{
    width: 100%;
    margin-bottom: 10px;
    border: 0;
    height: 1px;
    background: #ccc;
}

/*Collected tab*/
#collected_num{
    font-family: 'Rubik', sans-serif;
    color: #b3b3b3;
    font-size: 1.25vw;
    padding: 10px 32px;
}

.collected_container{
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 2vw;
    justify-content: space-evenly;
}

.collected_items{
    cursor: pointer;
    width: 12vw;
    height: 18.5vw;
    background: var(--mix-2);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.collected_img{
    flex: 1.5;
    overflow: hidden;
    border-radius: 25px 25px 0px 0px;
}

.collected_img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.collected_info {
    padding: 1vw;
    flex: 1;
}

.collected_info h2 {
    font-size: 1.2vw;
    font-weight: 500;
}


/* Deals tab */

.tabs-content.dealstab{
    padding: 2vw;
}

.deals {
    margin: 2vw 0;
    width: 100%;
    height: 30vw;
    background-color: var(--mix-2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
}

.deals-cover {
    height: 15%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
}

.deals-cover-left {
    display: flex;
}

.dcover-image {
    width: 3.2vw;
    height: 3.2vw;
    background-color: green;
    border-radius: 50%;
    margin: auto 1.4vw;
    overflow: hidden;
    
}

.dcover-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.dcover-name {
    font-weight: 500;
    font-size: 100%;
    margin: auto;
}

.deals-cover-right {
    margin: auto 1.7vw;
}

.dcover-status {
    font-size: 90%;
    margin: auto 0;
}

.deals-content {
    flex: 1;
    width: 100%;
    height: 50%;
    background-color: #4e5364;
    display: flex;
    
}

.deals-content-left {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3%;
}

.deals-content-right {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
}

.dcontent-items {
    width: 30%;
}
.dcontent-items-img {
    height: 70%;
    width: 100%;
    border-radius: 10px;  
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
}

.dcontent-items-img p {
    white-space: nowrap;
    border-radius: 10px;
    margin: auto 0;
    font-size: 120%;
    color: #0B1426;
    padding: 5%;
}

.dcontent-items-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.dcontent-items-info {
    margin-top: 2%;
}

.dcontent-items-info h1 {
    font-weight: 500;
    font-size: 100%;
}

.dcontent-items-info p {
    font-weight: 400;
    font-size: 90%;
}

.dcontent-icon {
    height: 70%;
    display: flex;
    justify-content: center
}

.deals-info {
    height: 15%;
    display: flex;

    flex-direction: row-reverse;
    box-sizing: border-box;
    align-items: center;
}

.deals-info div {
    display: flex;
    flex-wrap: nowrap;
    width: 15vw;
    margin: 0 1vw;
}

.deals-info div button {
    cursor: pointer;
    width: 15vw;
    height: 3vw;
    font-size: 1.2vw;
    font-family: 'Rubik', sans-serif;
    padding: 0.7vw 1vw;
    box-sizing: border-box;
    background-color: #2E8DEE;
    color: var(--main-font-color);
    font-weight: 500;
    border-radius: 20px;
    border: none;
}

.deals-info div button:hover {
    background-color: #106ac5;
    transition: .3s ease;
}

.deals-info div button:first-child {
    margin-right: 2vw;
}


/* Wallet tab*/
#wallet-main{
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid #404040 ;
    border-radius: 10px;
    background-color: #363945;
    padding: 2%;
    box-sizing: border-box;
}
#wallet-balance>*{
    display: flex;
    flex-flow: row nowrap;
}

#wallet-balance>*>*{
    font-size: 3vw;
    margin: 1% 0;

}
#withdraw>*,#deposit>*{
    font-size: 2vw;
}
#wallet-interact{
    margin-top: 1%;
}
#withdraw-amount, #deposit-amount{
    display: flex;
    flex-flow: row nowrap;
    justify-content: baseline;
    gap: 1%;
}

#withdraw-amount>input, #deposit-amount>input{
    background-color: black;
    padding: 0.5%;
    border-radius: 10px;
    border: none;
}
#wallet-interact>*>*{
    margin-bottom: 1%;
}
#wallet-interact>*{
    margin-bottom: 2%;
}

.wallet-change {
    margin: 2vw 2vw 0 0;
    padding: 0.5vw;
    box-sizing: border-box;
    font-size: 1.2vw;
    width: 10vw;
    background-color: #2E8DEE;
    color: 	white;
    cursor: pointer;
    border-radius: 1vw;
}

/* Trading tab */

.tabs-content.tradingtab{
    padding: 2vw;
}

.trading {
    margin: 2vw 0;
    width: 100%;
    height: 30vw;
    background-color: var(--mix-2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
}

.trading-cover {
    height: 15%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
}

.trading-cover-left {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    text-wrap: nowrap;
}

.trading-cover-left p {
    font-weight: 500;
    font-size: 100%;
    margin: auto 1.4vw;
    width: 100%;
}

.trcover-name {
    font-weight: 500;
    font-size: 100%;
    margin: auto;
    width: 100%;
}

.trading-cover-right {
    margin: auto 1.7vw;
}

.trcover-status {
    font-size: 90%;
    margin: auto 0;
}

.trading-content {
    flex: 1;
    width: 100%;
    height: 50%;
    background-color: #4e5364;
    display: flex;
    
}

.trading-content-left {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
}

.trading-content-right {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;

}

.trcontent-items {
    width: 30%;
}

.trcontent-items-img {
    height: 70%;
    width: 100%;
    border-radius: 10px;  
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
}

.trcontent-items-img p {
    white-space: nowrap;
    border-radius: 10px;
    margin: auto 0;
    font-size: 120%;
    color: #0B1426;
    padding: 5%;
}

.trcontent-items-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.trcontent-items-info {
    margin-top: 2%;
}

.trcontent-items-info h1 {
    font-weight: 500;
    font-size: 100%;
}

.trcontent-items-info p {
    font-weight: 400;
    font-size: 90%;
}

.trcontent-icon {
    height: 70%;
    display: flex;
    justify-content: center
}

.trading-info {
    height: 15%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.trading-info div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2vw;
}

.trading-info div p{
    font-weight: 400;
    font-size: 90%;
}

