{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<section class = "Profile">
    <div class = "banner">
        <div class = "banner-cover">
            <!-- <img src="../static/img/cover.jpeg"> -->
            <div class = "ay"></div>
            <span class="overlay">
                <div class = "banner-infor">
                    <div class="banner-infor avatar">
                        <img src="../static/img/avatar.jpg" width="64" height="64">
                    </div>
                    
                </div>
            </span>
            <div class = " usersocial">
                <div class = "banner-infor username">
                    <p id = "username"> Username 
                    <img width="19.8" height="20.65" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" id = "twitter"/>
                    </p>
                    <p id = "user_id"> XCOOPYSC90922_huask9224</p>
                </div>
                <div class = "banner-infor social">
                    <p><img width="30" height="30" src="../static/img/twitter.png" alt="twitter--v1"/>
                    <img width="30" height="30" src="../static/img/share.png" alt="share--v1"/>
                    <img width="30" height="30" src="../static/img/threedots.png" alt="threedots" id = "threedots"/></p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="tabs">
        <input type="radio" class="tabs-radio" name="profile-tabs" id="collected" checked>
        <label for="collected" class="tabs-label">Collected</label>
        <div class="tabs-content">

            <p id="collected_num"> 10 items </p>
            <div class="collected_container">
                <div class="item item-1">
                    <img src="../static/img/cute_alien.jpeg" alt="collection_1">
                    <p id="item1_desc">Cute Alien CA07</p>
                </div>
                <div class="item item-2">
                    <img src="../static/img/img1.jpg" alt="collection_2" id="item2_img">
                    <p id="item2_desc">POP Mart
                        <img width="11.55" height="12.05" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                    </p>
                    <p id="item2_offer">Best offer: 0.04 WETH</p>
                </div>
                <div class="item item-3">
                    <img src="../static/img/img3.jpg" alt="collection_3">
                    <p id="item3_desc">3D Room</p>
                </div>
                <div class="item item-4">
                    <img src="../static/img/img4.jpg" alt="collection_4">
                    <p id="item4_desc">Social Vending Machine</p>
                </div>
                <div class="item item-5">
                    <img src="../static/img/img5.jpg" alt="collection_5" id="item5_img">
                    <p id="item5_desc">Playdoh Cake
                        <img width="11.55" height="12.05" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                    </p>
                    <p id="item5_offer">Best offer: 0.13 WETH</p>
                </div>
                <div class="item item-6">
                    <img src="../static/img/img6.jpg" alt="collection_6">
                    <p id="item6_desc">Divoom Speaker 3D</p>
                    <p id="item6_offer">Last sale: 0.01 ETH</p>
                </div>
                <div class="item item-7">
                    <img src="../static/img/img7.jpg" alt="collection_7">
                    <p id="item7_desc">Space And Time</p>
                </div>
                <div class="item item-8">
                    <img src="../static/img/3d_house.jpeg" alt="collection_8" id="item8_img">
                    <p id="item8_desc">3D House
                        <img width="11.55" height="12.05" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                    </p>
                    <p id="item8_offer">Mint Price: 0.05 ETH</p>
                </div>
                <div class="item item-9">
                    <img src="../static/img/lizard_soldier.jpeg" alt="collection_9">
                    <p id="item9_desc">Lizard Soldier</p>
                </div>
                <div class="item item-10">
                    <img src="../static/img/monkeyy.jpeg" alt="collection_10" id="item10_img">
                    <p id="item10_desc">Hugs From Monkey
                        <img width="11.55" height="12.05" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                    </p>
                </div>
            </div>
        </div>

        <input type="radio" class="tabs-radio" name="profile-tabs" id="offers" >
        <label for="offers" class="tabs-label">Offers Made</label>
        <div class="tabs-content">
            <div class="content_bar">
                <div class="cate offers_num">
                    <p>16 offers</p>
                </div>

                <div class="cate price">
                    <p>Price</p>
                </div>

                <div class="cate quantity">
                    <p>Quantity</p>
                </div>

                <div class="cate total">
                    <p>Total</p>
                </div>

                <div class="cate expiration">
                    <p>Expiration</p>
                </div>

                <div class="cate created">
                    <p>Data Created</p>
                </div>
            </div>

            <div class="offers_container">
                <div class="offer name">
                    <hr> 
                    <div class="offer1">
                        <img width="34.4px" height="34.4px" src="../static/img/pixel_dragon.jpeg" alt="offer1 img">
                        <p>Pixel Dragons Rangers Edition</p>
                    </div>
                    <div class="offer2">
                        <img width="34.4px" height="34.4px" src="../static/img/unicorn.jpeg" alt="offer2 img">
                        <p>Unicorn: Pixel</p>
                        <img width="16.5" height="17.21" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" id="offer_badge"/>
                    </div>
                    <div class="offer3">
                        <img width="34.4px" height="34.4px" src="../static/img/deer.jpeg" alt="offer1 img">
                        <p>Deer's Diner</p>
                    </div>
                    <div class="offer4">
                        <img width="34.4px" height="34.4px" src="../static/img/whale.jpeg" alt="offer2 img">
                        <p>Whale The Game</p>
                        <img width="16.5" height="17.21" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" id="offer_badge"/>
                    </div>
                    <div class="offer5">
                        <img width="34.4px" height="34.4px" src="../static/img/raccoon.jpeg" alt="offer2 img">
                        <p>Skateboarding Raccoon</p>
                        <img width="16.5" height="17.21" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" id="offer_badge"/>
                    </div>
                </div>

                <div class="offer price">
                    <hr>
                    <div class="offer1">
                        <p>0,0608 WETH</p>
                    </div>
                    <div class="offer2">
                        <p>0,0501 WETH</p>
                    </div>
                    <div class="offer3">
                        <p>0,0152 WETH</p>
                    </div>
                    <div class="offer4">
                        <p>0,008 WETH</p>
                    </div>
                    <div class="offer5">
                        <p>0,0502 WETH</p>
                    </div>
                </div>

                <div class="offer quantity">
                    <hr>
                    <div class="offer1">
                        <p>1</p>
                    </div>
                    <div class="offer2">
                        <p>3</p>
                    </div>
                    <div class="offer3">
                        <p>6</p>
                    </div>
                    <div class="offer4">
                        <p>5</p>
                    </div>
                    <div class="offer5">
                        <p>1</p>
                    </div>
                </div>

                <div class="offer total">
                    <hr>
                    <div class="offer1">
                        <p>0,0608 WETH</p>
                    </div>
                    <div class="offer2">
                        <p>0,1503 WETH</p>
                    </div>
                    <div class="offer3">
                        <p>0,0912 WETH</p>
                    </div>
                    <div class="offer4">
                        <p>0,004 WETH</p>
                    </div>
                    <div class="offer5">
                        <p>0,0502 WETH</p>
                    </div>
                </div>

                <div class="offer expiration">
                    <hr>
                    <div class="offer1">
                        <p>in 11 minutes</p>
                    </div>
                    <div class="offer2">
                        <p>in 10 minutes</p>
                    </div>
                    <div class="offer3">
                        <p>in 10 minutes</p>
                    </div>
                    <div class="offer4">
                        <p>in 7 minutes</p>
                    </div>
                    <div class="offer5">
                        <p>in 4 minutes</p>
                    </div>
                </div>

                <div class="offer created">
                    <hr>
                    <div class="offer1">
                        <p>9 minutes ago</p>
                    </div>
                    <div class="offer2">
                        <p>33 minutes ago</p>
                    </div>
                    <div class="offer3">
                        <p>34 minutes ago</p>
                    </div>
                    <div class="offer4">
                        <p>38 minutes ago</p>
                    </div>
                    <div class="offer5">
                        <p>39 minutes ago</p>
                    </div>
                </div>
            </div>
        </div>

        <input type="radio" class="tabs-radio" name="profile-tabs" id="deals" >
        <label for="deals" class="tabs-label">Deals</label>
        <div class="tabs-content dealstab">
            <!-- <div class="deals">
                <div class="deals_cover">
                    <div>
                        <img src="../static/img/garan.jpeg" alt="2nduser_img">
                    </div>
                    <p style="font-size: 1.25vw; font-weight: 500; color: #ccc;">Deal From An Le Phan</p>
                    <p style="font-size: 1vw; color: #b3b3b3;">Expires in 3 hours</p>
                    <p style="font-size: 1vw; color: #b3b3b3;">Status: Active</p>
                    <button>Connect Wallet</button>
                </div>

                <div class="deals_contain">
                    <div class="deals_left">
                        <div class="left_avatar">
                            <div>
                                <img src="../static/img/garan.jpeg" alt="2nduser_img">
                                <p>An Le Phan</p>
                            </div>
                            
                            <p>2 items</p>
                        </div>
                        
                        <div class="deals_items">
                            <div class="deals_item1">
                                <div>
                                    <img src="../static/img/chon.jpeg" alt="item1">
                                </div>
                                <p>Raccoon #3144</p>
                                <p>Raccoon Originals
                                    <img width="16.5" height="17.21" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" id="offer_badge"/>
                                </p>
                            </div>
                            <div class="deals_item2">
                                <div>
                                    <img src="../static/img/hoa.jpeg" alt="item2">
                                </div>
                                <p>Flower #1832</p>
                                <p>Nike Factory
                                    <img width="16.5" height="17.21" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" id="offer_badge"/>
                                </p>
                            </div>
                        </div>
                    </div>
                    <i class="ri-arrow-left-right-line"></i>
                    <div class="deals_right">
                        <div>
                            <img src="../static/img/avatar.jpg" alt="user_img">
                        </div>
                        <p>Username</p>
                        <p>1 item</p>
                        <div class="deals_items">
                            <div class="deals_item3">
                                <div>
                                    <img src="../static/img/img5.jpg" alt="item3">
                                </div>
                                <p>Cakes Originals
                                    <img width="16.5" height="17.21" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" id="offer_badge"/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class = "deals">
                
            </div>
        </div>
    </div>
</section>
{% endblock %}