{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<section class = "Profile">
    <div class = "banner">
        <div class = "banner-cover">
            <!-- <img src="../static/img/cover.jpeg"> -->
            <div class = "ay"></div>
            <span class="overlay">
                <div class = "banner-infor">
                    <div class="banner-infor avatar">
                        <img src="../static/img/avatar.jpg" width="64" height="64">
                    </div>
                    
                </div>
            </span>
            <div class = " usersocial">
                <div class = "banner-infor username">
                    <p id = "username"> Username 
                    <img width="19.8" height="20.65" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" id = "twitter"/>
                    </p>
                    <p id = "user_id"> XCOOPYSC90922_huask9224</p>
                </div>
                <div class = "banner-infor social">
                    <p><img width="30" height="30" src="../static/img/twitter.png" alt="twitter--v1"/>
                    <img width="30" height="30" src="../static/img/share.png" alt="share--v1"/>
                    <img width="30" height="30" src="../static/img/threedots.png" alt="threedots" id = "threedots"/></p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="tabs">
        <input type="radio" class="tabs-radio" name="profile-tabs" id="collected" checked>
        <label for="collected" class="tabs-label">Collected</label>
        <div class="tabs-content">
            <hr>
            <p id="collected_num"> 10 items </p>
            <div class="collected_container">
                <div class="item item-1">
                    <img src="../static/img/cute_alien.jpeg" alt="collection_1">
                    <p id="item1_desc">Cute Alien CA07</p>
                </div>
                <div class="item item-2">
                    <img src="../static/img/img1.jpg" alt="collection_2" id="item2_img">
                    <p id="item2_desc">POP Mart
                        <img width="11.55" height="12.05" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                    </p>
                    <p id="item2_offer">Best offer: 0.04 WETH</p>
                </div>
                <div class="item item-3">
                    <img src="../static/img/img3.jpg" alt="collection_3">
                    <p id="item3_desc">3D Room</p>
                </div>
                <div class="item item-4">
                    <img src="../static/img/img4.jpg" alt="collection_4">
                    <p id="item4_desc">Social Vending Machine</p>
                </div>
                <div class="item item-5">
                    <img src="../static/img/img5.jpg" alt="collection_5" id="item5_img">
                    <p id="item5_desc">Playdoh Cake
                        <img width="11.55" height="12.05" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                    </p>
                    <p id="item5_offer">Best offer: 0.13 WETH</p>
                </div>
                <div class="item item-6">
                    <img src="../static/img/img6.jpg" alt="collection_6">
                    <p id="item6_desc">Divoom Speaker Design</p>
                    <p id="item6_offer">Last sale: 0.01 ETH</p>
                </div>
                <div class="item item-7">
                    <img src="../static/img/img7.jpg" alt="collection_7">
                    <p id="item7_desc">Space And Time</p>
                </div>
                <div class="item item-8">
                    <img src="../static/img/3d_house.jpeg" alt="collection_8" id="item8_img">
                    <p id="item8_desc">3D House
                        <img width="11.55" height="12.05" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                    </p>
                    <p id="item8_offer">Mint Price: 0.05 ETH</p>
                </div>
                <div class="item item-9">
                    <img src="../static/img/lizard_soldier.jpeg" alt="collection_9">
                    <p id="item9_desc">Lizard Soldier</p>
                </div>
                <div class="item item-10">
                    <img src="../static/img/monkeyy.jpeg" alt="collection_10" id="item10_img">
                    <p id="item10_desc">Hugs From Monkey
                        <img width="11.55" height="12.05" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge"/>
                    </p>
                </div>
            </div>
        </div>

        <input type="radio" class="tabs-radio" name="profile-tabs" id="offers" >
        <label for="offers" class="tabs-label">Offers Made</label>
        <div class="tabs-content">
            <hr>
            <h1>Offers Made</h1>
        </div>

        <input type="radio" class="tabs-radio" name="profile-tabs" id="deals" >
        <label for="deals" class="tabs-label">Deals</label>
        <div class="tabs-content">
            <hr>
            <h1>Deals</h1>
        </div>

        <input type="radio" class="tabs-radio" name="profile-tabs" id="created" >
        <label for="created" class="tabs-label">Created</label>
        <div class="tabs-content">
            <hr>
            <h1>Created</h1>
        </div>
    </div>
</section>
{% endblock %}