{% extends 'base.html' %}
{% block style %}
profile.css
{% endblock %}
{% block title %}Profile{% endblock %}
{% block content %}
<section class = "Profile">
    <div class = "banner">
        <div class = "banner-cover">
            <!-- <img src="../static/img/cover.jpeg"> -->
            <span class="overlay">
                <div class = "banner-infor">
                    <div class="banner-infor avatar">
                        <img src="../static/img/avatar.jpg" width="64" height="64">
                    </div>

                </div>
            </span>
            <div class = " usersocial">
                <div class = "banner-infor username">
                    <p id = "username"> Username 
                        <img width="19.8" height="20.65" src="https://img.icons8.com/color/48/verified-badge.png" alt="verified-badge" id = "twitter"/>
                    </p>
                    <p id = "user_id"> 0xdC0b8cA898DB8D46A37517d70E63985ABA1FaF0B</p>
                </div>
                <div class = "banner-infor social">
                    <p><img width="30" height="30" src="../static/img/twitter.png" alt="twitter--v1"/>
                        <img width="30" height="30" src="../static/img/share.png" alt="share--v1"/>
                        <img width="30" height="30" src="../static/img/threedots.png" alt="threedots" id = "threedots"/></p>
                </div>
            </div>
        </div>

    </div>

    <div class="tabs">
        <input type="radio" class="tabs-radio" name="profile-tabs" id="collected" checked>
        <label for="collected" class="tabs-label">Collected</label>
        <div class="tabs-content">

            <p id="collected_num"> {{itemArray|length}} items </p>
            <div class="collected_container">
                {% for item in itemArray %}
                <div class="collected_items">
                    <div class="collected_img">
                        <img src="../static/img/nft/img{{item["ItemID"]}}.jpg">
                    </div>
                    <div class="collected_info">
                        <h2>
                            {{item["Name"]}}
                        </h2>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <input type="radio" class="tabs-radio" name="profile-tabs" id="deals" >
        <label for="deals" class="tabs-label">Deals</label>
        <div class="tabs-content dealstab">
            <div class = "deals">
                <div class = "deals-cover">
                    {% for user in userArray %}
                    <div class = "deals-cover-left">
                        <div class = "dcover-image">
                            <img src="../static/img/nft/img2.jpg" alt="2nduser_img">
                        </div>
                        <div class = "dcover-name">
                            {{user.name}}
                        </div>
                    </div>
                    {% endfor %}
                    <div class = "deals-cover-right">
                        {% set selected_status = statusArray | random %}
                        <div class = "dcover-status">
                            Status: {{selected_status.name}} 
                            <i class="ri-circle-fill" style = "color: {{selected_status.color}}; font-size: 1vw;"></i>
                        </div>
                    </div>
                </div>
                <div class = "deals-content">
                    <div class = "deals-content-left">
                        {% set max_items = 2 %}
                        {% set num_items = range(1, max_items + 1)|random %}
                        {% for i in range(num_items) %}
                            {% set random_index = range(0, itemArray|length)|random %}
                            {% set item = itemArray[random_index] %}
                        <div class = "dcontent-items">
                            <div class = "dcontent-items-img">
                                    <img src = "../static/img/nft/img{{item['ItemID']}}.jpg">
                            </div>
                            <div class = "dcontent-items-info">
                                <h1>
                                    {{item["Name"]}}
                                </h1>
                                <p>
                                    {{item["Description"]}}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                        <div class = "dcontent-items">
                            {% set selected_eth = ethArray | random %}
                            <div class = "dcontent-items-img">
                                <p>{{selected_eth.plus}} <i class="ri-eth-line" style = "color: black;"></i></p>
                            </div>
                        </div>
                    </div>
                    <div style = "padding-top: 3%">
                        <div class = "dcontent-icon">
                            <i class="ri-arrow-left-right-line dcontent-items" style = "font-size: 200%; margin: auto 1vw;"></i>
                        </div>
                        
                    </div>
                        
                    <div class = "deals-content-right">
                        {% set max_items = 2 %}
                        {% set num_items = range(1, max_items + 1)|random %}
                        {% for i in range(num_items) %}
                            {% set random_index = range(0, itemArray|length)|random %}
                            {% set item = itemArray[random_index] %}
                        <div class = "dcontent-items">
                            <div class = "dcontent-items-img">
                                <img src = "../static/img/nft/img{{item["ItemID"]}}.jpg">
                            </div>
                            <div class = "dcontent-items-info">
                                <h1>
                                    {{item["Name"]}}
                                </h1>
                                <p>
                                    {{item["Description"]}}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class = "deals-info">
                    <div>
                        <button>
                            Decline
                        </button>
                        <button>
                            Accept
                        </button>
                    </div>                   
                </div>
            </div>
        </div>

        <input type="radio" class="tabs-radio" name="profile-tabs" id="wallet" >
        <label for="wallet" class="tabs-label">Wallet</label>
        <div class="tabs-content tradingtab">
            <div id="wallet-main">
                <div id="wallet-balance">
                    <p>Estimated Balance:</p>
                    <div>
                        <i class="ri-eth-line"></i>
                        <p>10.42 ETH</p>
                    </div>
                    <hr>
                </div>
                <div id="wallet-interact">
                    <div id="withdraw">
                        <p>Withdraw:</p>
                        <div id="withdraw-amount">
                            <i class="ri-eth-line"></i>
                            <input type="number">
                            <i class="ri-arrow-down-circle-line"></i>
                        </div>
                    </div>
                    <div id="deposit">
                        <p>Deposit:</p>
                        <div id="deposit-amount">
                            <i class="ri-eth-line"></i>
                            <input type="number">
                            <i class="ri-arrow-up-circle-line"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="radio" class="tabs-radio" name="profile-tabs" id="trading" >
        <label for="trading" class="tabs-label">Trade History</label>
        <div class="tabs-content">
            <div class = "trading">
                <div class = "trading-cover">
                    {% for user in userArray %}
                    <div class = "trading-cover-left">
                        <p> Traded with:</p>
                        <div class = "trcover-image">
                            <img src="../static/img/garan.jpeg" alt="2nduser_img">
                        </div>
                        <div class = "trcover-name">
                            {{user.name}}
                        </div>
                    </div>
                    {% endfor %}
                    <div class = "trading-cover-right">
                        <div class = "trcover-date">
                            Date
                        </div>
                    </div>
                </div>
                <div class = "trading-content">
                    <div class = "trading-content-left">
                        {% set max_items = 2 %}
                        {% set num_items = range(1, max_items + 1)|random %}
                        {% for i in range(num_items) %}
                            {% set random_index = range(0, itemArray|length)|random %}
                            {% set item = itemArray[random_index] %}
                        <div class = "trcontent-items">
                            <div class = "trcontent-items-img">
                                <img src = "../static/img/nft/img{{item["ItemID"]}}.jpg">
                            </div>
                            <div class = "trcontent-items-info">
                                <h1>
                                    {{item["Name"]}}
                                </h1>
                                <p>
                                    {{item["Description"]}}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                        <div class = "trcontent-items">
                            {% set selected_eth = ethArray | random %}
                            <div class = "trcontent-items-img">
                                <p>{{selected_eth.plus}} <i class="ri-eth-line" style = "color: black;"></i></p>
                            </div>
                        </div>
                    </div>
                    <div style = "padding-top: 3%">
                        <div class = "trcontent-icon">
                            <i class="ri-arrow-left-right-line dcontent-items" style = "font-size: 200%; margin: auto 1vw;"></i>
                        </div>
                        
                    </div>
                        
                    <div class = "trading-content-right">
                        {% set max_items = 2 %}
                        {% set num_items = range(1, max_items + 1)|random %}
                        {% for i in range(num_items) %}
                            {% set random_index = range(0, itemArray|length)|random %}
                            {% set item = itemArray[random_index] %}
                        <div class = "trcontent-items">
                            <div class = "trcontent-items-img">
                                <img src = "../static/img/nft/img{{item["ItemID"]}}.jpg">
                            </div>
                            <div class = "trcontent-items-info">
                                <h1>
                                    {{item["Name"]}}
                                </h1>
                                <p>
                                    {{item["Description"]}}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class = "trading-info">
                    {% for info in trade_infoArray%}
                    <div>
                        <p>Transaction Hash: {{info.hash}} </p>
                        <p>Block: {{info.block}} </p>
                    </div>      
                    {% endfor %}             
                </div>
            </div>
        </div>
    </div>
</section>
    {% endblock %}
